.card {
  &--container {
    height: 400px;
    margin-top: 1rem;
    border: 1px solid #f0f0f0;

    &:hover {
      cursor: pointer;
      box-shadow: 1px 1px 5px #888888;
    }
  }
  &--carousel {
    height: 66%;
    margin: -1px -1px 0 -1px;
  }
}
