<ng-template #content>
    <ng-content></ng-content>
</ng-template>

<ng-container [ngSwitch]="type">
    <!-- mat-icon-button -->
    <button *ngSwitchCase="'mat-icon-button'" mat-icon-button #btn [color]="color" [attr.aria-label]="ariaLabel" [ngClass]="cssClass" (click)="onClick()">
        <ng-container *ngTemplateOutlet="content"></ng-container>
    </button>
    
    <!-- mat-flat-button -->
    <button *ngSwitchCase="'mat-flat-button'" mat-flat-button #btn [color]="color" [attr.aria-label]="ariaLabel" [ngClass]="cssClass"  (click)="onClick()">
        <ng-container *ngTemplateOutlet="content"></ng-container>
    </button>

    <!-- mat-fab -->
    <button *ngSwitchCase="'mat-fab'" mat-fab #btn [color]="color" [attr.aria-label]="ariaLabel" [ngClass]="cssClass"
        (click)="onClick()">
        <ng-container *ngTemplateOutlet="content"></ng-container>
    </button>

    <!-- mat-mini-fab -->
    <button *ngSwitchCase="'mat-mini-fab'" mat-mini-fab #btn [color]="color" [attr.aria-label]="ariaLabel" [ngClass]="cssClass"
        (click)="onClick()">
        <ng-container *ngTemplateOutlet="content"></ng-container>
    </button>

    <!-- mat-button -->
    <button *ngSwitchDefault mat-button #btn [color]="color" [attr.aria-label]="ariaLabel" [ngClass]="cssClass"
        (click)="onClick()">
        <ng-container *ngTemplateOutlet="content"></ng-container>
    </button>
</ng-container>
