<ng-template #content>
    <ng-content></ng-content>
</ng-template>

<ng-container [ngSwitch]="type">
    <!-- mat-icon-button -->
    <button *ngSwitchCase="'mat-icon-button'" mat-icon-button #btn [color]="color" [attr.aria-label]="ariaLabel" [ngClass]="cssClass" (click)="onClick()">
        <ng-container *ngTemplateOutlet="content"></ng-container>
    </button>
    
    <!-- mat-button -->
    <button *ngSwitchDefault mat-button #btn [color]="color" [attr.aria-label]="ariaLabel" [ngClass]="cssClass"  (click)="onClick()">
        <ng-container *ngTemplateOutlet="content"></ng-container>
    </button>
</ng-container>


<!-- mat-icon-button
mat-button
mat-flat-button
mat-fab
mat-mini-fab -->