[nz-carousel-content] {
  text-align: center;
  line-height: 160px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}

.img--container {
  height: 100%;
  width: 100%;
}

.carousel {
  $this: &;

  &__container {
    position: relative;
    height: 100%;

    #{$this}__label {
      position: absolute;
      top: 10px;
      left: 20px;
      width: 32px;
      z-index: 1;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 1.5rem;
      padding: 0 1.5rem;
      background-color: rgba(255, 26, 26, 0.6);

      &-text {
        color: #fff;
      }
    }
  }
}
