.header {
  background-color: #ffffff;
  height: 10vh;
  position: relative;
  z-index: 2;

  &--home-img {
    background: url("^assets/icons/build-icon-home.png") no-repeat center center;
    background-size: 100%;
    width: 180px;
    max-width: 30vw;
  }
}
