.header {
  background-color: #ffffff;
  min-height: 10vh;

  &--home-img {
    background: url("^assets/icons/build-icon-home.png") no-repeat center center;
    background-size: 100%;
    height: 100px;
    width: 200px;
    position: absolute;
    top: -10px;
    right: calc(50vw - 100px);
  }
}
